{% extends 'base.html' %} {% block content %} {%load static%}


<link type="text/css" href="../static/css/becas.css" rel="stylesheet" />

<body>
  <div class=" row g-0 justify-content-center">
    <div class="SeccionTexto col-8 mt-5 px-3">
  <h1> Regresar</h1>
  <a href="/Secciones">
    <button class="boton-estetico">Regresar</button>
</a>
</div>
</div>
  <div class=" row g-0 justify-content-center">
    <div class="SeccionTexto col-8 mt-5 px-3">
      <h2 class=" my-3">Secciones de interes</h2>
      <p class=" my-2">
        Aca podras ver toda la informacion que tenemos disponible para ti dependiendo tu area de interes
      </p>
    </div>
  </div>
  <div class="row g-0 justify-content-center">
    <div class="AreaAcordeon col-2 my-3 px-3">
      <dic class="AcordeonContainer">
        <div class="AcordeonLabel">
          <h2>Areas</h2>
        </div>
        <div class="AcordeonContent">
          <ul>
            <hr>
            <li><a class="dropdown-item" href="#Arquitectura">Arquitectura</a></li>
            <hr>

        </div>
    </dic>
  </div>

</div>
<div id="Arquitectura" class="Arquitectura row justify-content-center">
  <div class="TituloSeccion col-9">
    <hr>
    <h2 class="text-center">Arquitectura</h2>
  </div>

  <div class="ArquitecturaPost row g-0 justify-content-center my-5">
    <div class="card col-8 border-0">
      <h2 class="text-center py-2 ">Becas ICETEX</h2>
      <div class="div row align-content-center justify-content-center">
        <div class="col pt-5 text-center">
          <img src="../static/img/icetex.jpg" class="img-fluid">
        </div>
        <div class="col px-5 py-3">
          <div class="Acordeon">
            <p>
              El Instituto Colombiano de Crédito Educativo y Estudios Técnicos en el Exterior, (ICETEX), ofrece
              becas para estudiar en universidades colombianas, en diversas áreas del pensamiento humano,
              incluyendo becas para estudiar Arquitectura en niveles de pregrado y postgrado.
            </p>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Requisitos</div>
              <div class="AcordeonContent">
                <p>
                  Los requisitos pueden variar según sean para estudios de pregrado, maestrías y doctorados, así
                  como de la universidad a cursar el programa.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel"> Valor y duracion de la beca</div>
              <div class="AcordeonContent">
                <p>
                  El programa de ICETEX, al ofertar las becas para estudiar en Colombia ofrece financiar la
                  totalidad de la matrícula, cuyo valor también va a depender de la universidad y el nivel de
                  estudio a aplicar.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Cómo aplicar</div>
              <div class="AcordeonContent">
                <p>
                  Para postularse a las becas ICETEX, debes ingresar a su página web, y en la sección de becas,
                  elegir la que se encuentre activa en la convocatoria.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Qué documentos necesitas</div>
              <div class="AcordeonContent">
                <ul>
                  <li>Formulario de la aplicación en línea.</li>
                  <li>Fotocopia del Título universitario.</li>
                  <li>Certificado de notas.</li>
                  <li>Certificado de salud.</li>
                  <li>Constancia de autorización de tratados del ICETEX.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ArquitecturaPost row g-0 justify-content-center my-5">
    <div class="card col-8 border-0">
      <h2 class="text-center py-2 ">Beca Invest Your Talent</h2>
      <div class="div row align-content-center justify-content-center">
        <div class="col pt-5 text-center">
          <img src="../static/img/InvestItalia.jpg" class="img-fluid">
        </div>
        <div class="col px-5 py-3">
          <div class="Acordeon">
            <p>
              Esta es una de las becas que ofrece el Gobierno de Italia, para atraer a jóvenes talentos
              extranjeros en Arquitectura, ingeniería, diseño y carreras afines, para que estos puedan obtener
              estudios de maestrías en institutos de educación superior en el país e iniciar una experiencia
              laboral en las empresas italianas.
            </p>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Requisitos</div>
              <div class="AcordeonContent">
                <ul>
                  <li>Cualificaciones académicas.</li>
                  <li>Los solicitantes deben tener menos de 26 años de edad.</li>
                  <li>Dominio del inglés.</li>
                  <li>Tener nacionalidad de alguno de los países del acuerdo (Colombia es aceptado).</li>
                </ul>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel"> Valor y duracion de la beca</div>
              <div class="AcordeonContent">
                <p>
                  La beca cubre un periodo de estudios de nueve meses y durante este tiempo cubrirá el pago total
                  de tus estudios, un seguro médico y un estipendio mensual de 900 euros.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Cómo aplicar</div>
              <div class="AcordeonContent">
                <p>
                  Las solicitudes se realizan a través del sitio web oficial de la beca, al momento de ser
                  aceptado en el programa de la universidad elegida para realizar los estudios.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Qué documentos necesitas</div>
              <div class="AcordeonContent">
                <ul>
                  <li>Expediente académico que certifique que ha completado su licenciatura.</li>
                  <li>Certificado de lengua inglesa (IELTS o TOEFL).</li>
                  <li>Certificado de lengua italiana (opcional).</li>
                  <li>Vídeo en el que el candidato explique sus motivaciones (no más de 1 minuto).</li>
                  <li>Currículum vítae.</li>
                  <li>Pasaporte válido.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ArquitecturaPost row g-0 justify-content-center my-5">
    <div class="card col-8 border-0">
      <h2 class="text-center py-2 ">Becas OEA</h2>
      <div class="div row align-content-center justify-content-center">
        <div class="col pt-5 text-center">
          <img src="../static/img/OEA.png" class="img-fluid">
        </div>
        <div class="col px-5 py-3">
          <div class="Acordeon">
            <p>
              La Organización de Estados Americanos, en alianza con diversos entes de México, ofrece becas
              académicas para realizar estudios de postgrado en ciencias e ingenierías, (incluida la carrera de
              Arquitectura) en dicho país y así promover la integración regional a través del intercambio de
              estudiantes.
            </p>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Requisitos</div>
              <div class="AcordeonContent">
                <ul>
                  <li>Contar con un diploma de Grado según sea el caso.</li>
                  <li>Tener una media de calificaciones de mínimo 8 en una escala del 1 al 10.</li>
                  <li>Cumplir con los requerimientos de idioma del programa elegido.</li>

                </ul>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel"> Valor y duracion de la beca</div>
              <div class="AcordeonContent">
                <p>
                  Esta beca otorga un aporte único de 1,200 dólares americanos para cierta cantidad de
                  seleccionados, así como un estipendio mensual para gastos de manutención, seguro médico básico,
                  y posibilidad de descuento parcial o total en los precios de la matrícula.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Cómo aplicar</div>
              <div class="AcordeonContent">
                <p>
                  Para aplicar a estas becas primero debes solicitar admisión a alguno de los programas
                  presenciales que formen parte del Sistema Nacional de Postgrados (SNP), para luego solicitar el
                  beneficio de la beca siguiendo los procesos de la institución académica elegida.
                </p>
              </div>
            </div>
            <div class="AcordeonContainer">
              <hr>
              <div class="AcordeonLabel">Qué documentos necesitas</div>
              <div class="AcordeonContent">
                <ul>
                  <li>Solicitud en línea.</li>
                  <li>Copia del último diploma universitario obtenido.</li>
                  <li>Duplicado del certificado de notas de todos los grados académicos alcanzados.</li>
                  <li>Tres (3) cartas de recomendación.</li>
                  <li>Currículum vítae.</li>
                  <li>Carta de admisión a la universidad o centro de investigación.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/section.js"></script>

{% endblock %}