{% extends 'base.html' %} {% block content %} {%load static%}


<link type="text/css" href="../static/css/becas.css" rel="stylesheet" />

<body>
  <div class=" row g-0 justify-content-center">
    <div class="SeccionTexto col-8 mt-5 px-3">
      <h1> Regresar</h1>
  <a href="/Secciones">
    <button class="boton-estetico">Regresar</button>
</a>
</div>
</div>
      <h2 class=" my-3">Secciones de interes</h2>
      <p class=" my-2">
        Aca podras ver toda la informacion que tenemos disponible para ti dependiendo tu area de interes
      </p>
    </div>
  </div>
  <div class="row g-0 justify-content-center">
    <div class="AreaAcordeon col-2 my-3 px-3">
      <dic class="AcordeonContainer">
        <div class="AcordeonLabel">
          <h2>Areas</h2>
        </div>
        <div class="AcordeonContent">
          <ul>
            <hr>
            <li><a class="dropdown-item" href="#Derecho">Derecho</a></li>
            <hr>
        </ul>
    </div>
  </dic>
</div>

</div>

<div id="Derecho" class="Derecho row justify-content-center">
    <div class="TituloSeccion col-9">
      <hr>
      <h2 class="text-center">Derecho</h2>
    </div>

    <div class="DerechoPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Beca Nacional de Excelencia Académica en Derecho</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/colombia.jpg" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                Beca otorgada por diversas universidades en Colombia. Algunas de las instituciones educativas
                reconocidas que te ofrecen esta beca son la Universidad de los Andes, la Universidad Nacional de
                Colombia, la Universidad Externado de Colombia y la Pontificia Universidad Javeriana.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Ser colombiano.</li>
                    <li>Promedio sobresaliente en la educación secundaria para acceder a las becas para
                      especializaciones.</li>
                    <li>Demostrar aptitudes y habilidades destacadas en el campo del Derecho.</li>

                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Cubre la totalidad o una parte significativa de los costos de matrícula.</li>
                    <li>Duración varía según la institución y el nivel de estudio.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <lu>
                    <li>Consulta los requisitos y fechas de convocatoria de cada beca.</li>
                    <li>Prepara los documentos solicitados.</li>
                    <li>Completa el formulario de solicitud en línea, si está disponible.</li>
                    <li>Envía la solicitud y los documentos requeridos dentro del plazo establecido.</li>
                  </lu>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Formulario de solicitud completo.</li>
                    <li>Copias de documentos de identificación.</li>
                    <li>Certificados académicos y expedientes de calificaciones.</li>
                    <li>Cartas de recomendación.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="DerechoPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 "> Beca de Intercambio Internacional en Derecho</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/internacional.jpg" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                La Beca de Intercambio Internacional en Derecho brinda a los estudiantes colombianos la
                oportunidad de vivir una experiencia educativa a disponer de becas para estudiar Derecho en el
                extranjero, ampliando sus horizontes académicos y culturales en el campo legal.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Debes ser colombiano.</li>
                    <li>Estar matriculado en una institución colombiana de educación superior.</li>
                    <li>Cumplir con los requisitos establecidos por la universidad o programa de intercambio
                      extranjero.</li>
                    <li>Acreditar competencia en el idioma solicitado por la institución de destino para poder
                      estudiar Derecho en el extranjero.</li>

                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Puede cubrirte los gastos de matrícula en la institución de destino.</li>
                    <li>La duración de la beca puede variar según el programa de intercambio de estudiantes
                      internacionales.</li>
                    <li>Generalmente de uno a dos semestres académicos.</li>
                    <li>Posibilidad de que recibas una asignación mensual para cubrir gastos de subsistencia.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <lu>
                    <li>Debes investigar y seleccionar programas de intercambio internacional en Derecho.</li>
                    <li>Cumple con los requisitos y plazos de solicitud establecidos por la institución o programa
                      de intercambio.</li>
                    <li>Tienes que presentar una solicitud completa, que puede incluir formularios en línea,
                      ensayos y documentos adicionales requeridos.</li>

                  </lu>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Llenar el formulario de solicitud completamente.</li>
                    <li>Documentos de identificación.</li>
                    <li>Expedientes académicos y certificados de calificaciones.</li>
                    <li>Certificados de dominio del idioma requerido por la institución de destino.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="DerechoPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Becas Erasmus</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/Union.png" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                El programa de becas Erasmus de la Unión Europea, ofrece becas de movilidad para estudiantes de
                países participantes, incluyendo Colombia. Estas becas permiten a los estudiantes de Derecho
                realizar intercambios o completar programas de maestría en Derecho en universidades europeas
                asociadas.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Titulación universitaria.</li>
                    <li>Destacado rendimiento académico.</li>
                    <li>Competencia en el idioma inglés (certificación TOEFL o IELTS).</li>

                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Duración de un año, dependiendo del programa de becas maestría seleccionado.</li>
                    <li>Asignación mensual de 1.000 euros durante un año para gastos de manutención.</li>
                    <li>Financiamiento adicional de 1.000 € a 4.000 €.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <lu>
                    <li>Contacta la oficina de Relaciones Internacionales de tu universidad para obtener
                      información sobre los requisitos y el proceso de solicitud.</li>
                    <li>Seleccionar una universidad de acogida. </li>
                    <li>Completa el formulario de solicitud de tu universidad de origen y proporciona la
                      documentación requerida.</li>

                  </lu>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Llena completamente la solicitud.</li>
                    <li>Presenta tu expediente académico actualizado.</li>
                    <li>Carta de motivación.</li>
                    <li>Cartas de recomendación.</li>
                    <li>Presentación de certificado de idioma, como TOEFL o IELTS, que demuestre el nivel de
                      competencia lingüística.</li>
                    <li>Copia del pasaporte.</li>
                    <li>Fotos tamaño carnet.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/section.js"></script>

{% endblock %}

