{% extends 'base.html' %} {% block content %} {%load static%}


<link type="text/css" href="../static/css/becas.css" rel="stylesheet" />

<body>
  <div class=" row g-0 justify-content-center">
    <div class="SeccionTexto col-8 mt-5 px-3">
      <h2 class=" my-3">Secciones de interes</h2>
      <p class=" my-2">
        Aca podras ver toda la informacion que tenemos disponible para ti dependiendo tu area de interes
      </p>
    </div>
  </div>
  <div class="row g-0 justify-content-center">
    <div class="AreaAcordeon col-2 my-3 px-3">
      <dic class="AcordeonContainer">
        <div class="AcordeonLabel">
          <h2>Areas</h2>
        </div>
        <div class="AcordeonContent">
          <ul>
            <hr>
            <li><a class="dropdown-item" href="#Enfermeria">Enfermeria</a></li>
            <hr>
        </ul>
    </div>
  </dic>
</div>

</div>
<div id="Enfermeria" class="Enfermeria row g-0 justify-content-center">
    <div class="TituloSeccion col-9">
      <hr>
      <h2 class="text-center">Emfermeria</h2>
    </div>

    <div class="EnfermeriaPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Beca de la Universidad de La Sabana</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/sabana.png" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                La Beca Excelencia que ofrece la Universidad de la Sabana está
                dirigida a estudiantes de nuevo ingreso en pregrado, que estén
                dispuestos a completar sus estudios en esta universidad de manera
                semestral. Puedes utilizar esta beca para estudiar Enfermería en
                Colombia, en esta prestigiosa universidad.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <p>Para optar a la beca debes:</p>
                  <ul>
                    <li>Tener excelentes notas.</li>
                    <li>Buen dominio del idioma inglés.</li>
                    <li>Excelente puntuación en examen de admisión.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    Esta beca Excelencia presenta dos opciones, puede cubrir tanto
                    el 100 % como el 60 % de la matrícula de la carrera que desees
                    estudiar.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    La postulación debe ser enviada por uno de los colegios
                    invitados a participar de las becas por su excelencia académica.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <p>
                    Se solicitan directamente al colegio postulante.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="EnfermeriaPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Beca SENA para especialista en enfermería y medicina</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/sena.png" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                Esta Beca del Servicio Nacional de Aprendizaje está dirigida a profesionales de la enfermería que
                deseen ampliar sus conocimientos académicos y su formación profesional en esta importante rama del
                saber, ofreciendo cursos y maestrías a profesionales en ejercicio.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <p>Ser profesional de la enfermería en ejercicio y estar inscrito en el servicio nacional de
                    aprendizaje SENA.</p>
                  <ul>
                    <li>Tener excelentes notas.</li>
                    <li>Buen dominio del idioma inglés.</li>
                    <li>Excelente puntuación en examen de admisión.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    Los cursos tienen duraciones distintas, los hay de 12 y de 14 meses, la beca cubre el 100 % del
                    costo del curso.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    Para aplicar al curso debes estar inscrito en el Servicio Nacional de Aprendizaje e inscribirse
                    a través de la página web.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <p>
                    Los documentos cambian de acuerdo al curso a realizar o programa a seguir. También depende de la
                    institución en donde se aplicará.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="EnfermeriaPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Beca Future in Russia</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/rusia.jpg" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                A través de la embajada rusa en los distintos países se ofrecen becas para estudiar diversas
                carreras en Rusia, incluyendo Enfermería. Estas becas ofrecen no sólo el pago total de tus estudios
                sino también el pago de manutención, alojamiento y un curso para aprender el idioma durante un año.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <p>
                    Todos los extranjeros que decidan aplicar pueden hacerlo a través de la embajada rusa, no se
                    necesita un nivel específico de inglés o ruso.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    El 100 % del costo de la universidad, pago por manutención te incluye también pago de
                    alojamiento y un curso para aprender el idioma ruso.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    Puedes aplicar de manera online por la página Future in Russia o también puedes hacerlo por
                    medio de la embajada rusa en Colombia.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Copia fotostática del pasaporte con vigencia de 18 meses</li>
                    <li>Copia fotostática de los documentos de estudio, incluyendo las calificaciones obtenidas,
                      traducidas al ruso.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/section.js"></script>

{% endblock %}
