{% extends 'base.html' %} {% block content %} {%load static%}


<link type="text/css" href="../static/css/becas.css" rel="stylesheet" />

<body>
  <div class=" row g-0 justify-content-center">
    <div class="SeccionTexto col-8 mt-5 px-3">
      <h2 class=" my-3">Secciones de interes</h2>
      <p class=" my-2">
        Aca podras ver toda la informacion que tenemos disponible para ti dependiendo tu area de interes
      </p>
    </div>
  </div>
  <div class="row g-0 justify-content-center">
    <div class="AreaAcordeon col-2 my-3 px-3">
      <dic class="AcordeonContainer">
        <div class="AcordeonLabel">
          <h2>Areas</h2>
        </div>
        <div class="AcordeonContent">
          <ul>
            <hr>
            <li><a class="dropdown-item" href="#Gastronomia">Gastronomia</a></li>
          </ul>
        </div>
      </dic>
    </div>

  </div>

  <div id="Gastronomia" class="Gastronomia row justify-content-center">
    <div class="TituloSeccion col-9">
      <hr>
      <h2 class="text-center">Gastronomia</h2>
    </div>

    <div class="GastronomiaPost row g-0 justify-content-center my-5">

      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Descuentos para estudiar Gastronomía en Universidad de San Buenaventura</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/SanBuenabentura.jpg" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                La Universidad de San Buenaventura ofrece la beca en la carrera de gastronomía "Fray Fernando
                Garzón Ramírez, OFM" para estudiantes destacados de colegios con convenios. Se otorgan tres becas
                para estudiar gastronomía para colombianos con descuentos de entre 50%, 30% y 20%.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Presentar al estudiante mediante carta de la Rectoría del Colegio a la Unidad de Mercadeo
                      Institucional.</li>
                    <li>Demostrar condición académica: adjuntar últimos 3 boletines y certificado de buena
                      conducta.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    El valor de las becas gastronomía ofrecidas por la Universidad de San Buenaventura es del 50%,
                    30% y 20% respectivamente. La duración de las becas puede cambiar según la época del año.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    Los estudiantes elegidos deben completar el proceso de inscripción y admisión a través del
                    sitio web de la Universidad de San Buenaventura (usbbog.edu.co)
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Carta de presentación del estudiante.</li>
                    <li>Tres (3) últimos boletines de calificaciones del último grado.</li>
                    <li>Certificado de buena conducta del estudiante para solicitar las becas para estudiar
                      gastronomía.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="GastronomiaPost row g-0 justify-content-center my-5">

      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">Becas Fundación Alicia</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/Alicia.png" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                El propósito de esta beca española es fomentar el aprendizaje del proceso culinario y alimenticio.
                Como iniciativa, los estudiantes realizan un procedimiento de investigación supervisado por
                expertos. La beca cubre costos de alimentación, pero no compensación económica por las prácticas.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <p>
                    Los detalles exactos pueden cambiar según la beca específica ofrecida por la Fundación Alicia.
                    Te recomiendo que te pongas en contacto con ellos para obtener información precisa.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    El programa de becas para estudiar gastronomía en España oferta 9 plazas para cada uno de los
                    períodos de prácticas que habilita durante el año: desde enero hasta marzo, desde abril hasta
                    julio y desde septiembre hasta diciembre. Los precios varían según el período y la época.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    El programa de becas para estudiar gastronomía en España oferta 9 plazas para cada uno de los
                    períodos de prácticas que habilita durante el año: desde enero hasta marzo, desde abril hasta
                    julio y desde septiembre hasta diciembre. Los precios varían según el período y la época.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Curriculum vitae</li>
                    <li>Carta de motivación</li>
                    <li>Fotocopia del DNI, NIE o Pasaporte</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="GastronomiaPost row g-0 justify-content-center my-5">

      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">James Beard Foundation</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="../static/img/James.png" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                Esta fundación en New York destaca por brindar becas de 6 a 12 meses, con una asignación semanal
                de 500 dólares, enfocadas en promover el liderazgo de mujeres chefs. Debes estar atento a las
                próximas convocatorias para aprovechar estas oportunidades en becas para colombianos.
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Nombre de la escuela seleccionada.</li>
                    <li>Transcripción de secundaria si eres senior.</li>
                    <li>Especialidad de estudio elegida.</li>
                    <li>GPA más reciente.</li>
                    <li>Rango en la clase, si aplica.</li>
                    <li>Puntajes en SAT y/o ACT, si aplican.</li>
                    <li>Rango en la clase, si aplica.</li>
                    <li>Lista de actividades y voluntariado.</li>
                    <li>Breve descripción de objetivos profesionales.</li>
                    <li>Breve declaración de circunstancias excepcionales.</li>
                    <li>Ensayos requeridos para becas específicas.</li>
                    <li>Información financiera en la solicitud.</li>
                    <li>Evaluación del consejero o supervisor.</li>
                  </ul>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    El valor y la duración de las becas de la Fundación James Beard también pueden variar según el
                    programa y la beca. Algunas becas pueden otorgar sumas para cubrir los gastos educativos,
                    mientras que otras pueden ofrecer pasantías o programas de mentoría.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    Deberás completar un formulario de solicitud en línea proporcionando información personal,
                    educativa y profesional. Este requisito en muchos países es indispensable, así como para optar
                    por maestrías en gastronomía en España y otras partes del mundo.
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  <ul>
                    <li>Carta de presentación.</li>
                    <li>Curriculum vitae (CV).</li>
                    <li>Referencias de profesores y empleadores anteriores.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  
</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/section.js"></script>

{% endblock %}