
section {
    background-color: #46443F ; /* Color gris claro */
    padding: 20px; /* Espaciado interno para separar el contenido del fondo */
    margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
}
.email-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:#6D6656;
}

.email-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.email-form form {
  display: flex;
  flex-direction: column;
}

.email-form form label {
  margin-bottom: 10px;
}

.email-form form input[type="text"],
.email-form form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.email-form form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.email-form form button:hover {
  background-color: #0056b3;}