
section {
    background-color: rgb(97, 220, 20) ; /* Color gris claro */
    padding: 20px; /* Espaciado interno para separar el contenido del fondo */
    margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
}