body {
    background: linear-gradient(to bottom, #6D6656, #E4DBC5 ); /* Cambia los colores según tu preferencia */
    color: #fff; /* Color del texto en el cuerpo */
    
}
section {
    background-color: #46443F ; /* Color gris claro */
    padding: 20px; /* Espaciado interno para separar el contenido del fondo */
    margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
}