.Becas{
  background-color: red;
  
}

.card{
  background-color: #243328;
  color: white;
}
.AcordeonContainer{
    padding: 0.2rem 0rem;
    border-radius: 10px;
  }
  .AcordeonLabel {
  position: relative;
  cursor: pointer;
  }
  
  .AcordeonLabel::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  }
  
  .AcordeonContent {
  height: 0;
  overflow: hidden;
  transition: 0.5s !important;
  }
  
  .AcordeonContainer.active .AcordeonContent {
  padding-top: 1rem;
  height: auto;
  }
  
  .AcordeonContainer.active .AcordeonLabel::before {
  content: "-";
  }