<!-- oportunidades/crear_oportunidad.html -->
{% extends 'base.html' %}

{% block content %}
  {% load crispy_forms_tags %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/oportunidad3.css' %}" />

  <!-- Agregamos el estilo de Pikaday -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">

  <div class="container mt-5">
    <div class="row">
      <div class="form-container">
        <h2 class="text-center">¡Crea Tu Oportunidad!</h2>
        <form action="" class="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>Añade detalles sobre la oportunidad que estás ofreciendo. Cuanta más información proporciones, más útil será para otros.</p>
          <p>
            Si aún no estás registrado, puedes volver a la página de
            <a href="{% url 'oportunidades' %}">Oportunidades</a>.
          </p><br />

          {% csrf_token %}
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.titulo.id_for_label }}" class="container-ui">Título:</label>
            <input type="text" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" class="container-ui" required />
          </div>
          <div class="form-group">
            <label for="{{ form.contenido.id_for_label }}" class="container-ui">Contenido:</label>
            <textarea name="{{ form.contenido.name }}" id="{{ form.contenido.id_for_label }}" class="container-ui" required></textarea>
          </div>
          <label for="{{ form.etiquetas_materias.id_for_label }}" class="mi-clase-estilo"><h2> Materias:</h2></label>
          {{ form.etiquetas_materias }}

          <label for="{{ form.etiquetas_tipo.id_for_label }}" class="mi-clase-estilo"><h2>Tipo:</h2></label>
          {{ form.etiquetas_tipo }}
          <center>
            <div class="form-group">
              <label for="{{ form.fecha_inicio.id_for_label }}" class="container-ui">Fecha de Inicio:</label>
              <!-- Agregamos un input para la fecha -->
              <input type="text" name="{{ form.fecha_inicio.name }}" id="{{ form.fecha_inicio.id_for_label }}" class="mi-clase-estilo" required />
            </div>
          </center>
          <link rel="stylesheet" href="{% static 'css/archivo.css' %}" />
          <label class="custum-file-upload" for="{{ form.imagen.id_for_label }}">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                <!-- Icono de carga de archivo -->
              </svg>
            </div>
            <div class="text">
              <span id="imagenTexto">Click para subir la imagen</span>
            </div>
            {{ form.imagen }}
          </label><br>

          <button class="form-submit-btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Agregamos la biblioteca Pikaday -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>

  <!-- Configuramos Pikaday para el campo de fecha -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var picker = new Pikaday({
        field: document.getElementById('{{ form.fecha_inicio.id_for_label }}'),
        format: 'YYYY-MM-DD',
        yearRange: [moment().year(), moment().year() + 5]
      });
    });
  </script>

  <script>
    document.getElementById('{{ form.imagen.id_for_label }}').addEventListener('change', function () {
      var textoImagen = document.getElementById('imagenTexto');
      if (this.files.length > 0) {
        textoImagen.innerText = this.files[0].name;
      } else {
        textoImagen.innerText = 'Click para subir la imagen';
      }
    });
  </script>
{% endblock %}
