{% extends 'base.html' %}

{% block content %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/oportunidad.css' %}">
<h1>Oportunidades</h1>
{% for oportunidad in oportunidades %}
  <div class="oportunidad">
    <h2>{{ oportunidad.titulo }}</h2>
    <p>{{ oportunidad.contenido }}</p>
    {% if oportunidad.imagen %}
      <img src="{{ oportunidad.imagen.url }}" alt="{{ oportunidad.titulo }}">
    {% endif %}
    <p>Publicado por: {{ oportunidad.autor.username }} el {{ oportunidad.fecha_creacion }}</p>
  </div>
{% endfor %}

<a href="{% url 'crear_oportunidad' %}">Crear Oportunidad</a>
{% endblock %}
