<!-- oportunidades/oportunidades_ajax_partial.html -->
{% for oportunidad in oportunidades %}
  <div class="oportunidad">
    <h2>{{ oportunidad.titulo }}</h2>
    {% if oportunidad.imagen %}
      <center>
        <img src="{{ oportunidad.imagen.url }}" alt="{{ oportunidad.titulo }}">
      </center>
    {% endif %}<br><br>
    <p>{{ oportunidad.contenido }}</p>

    <!-- Mostrar etiquetas de materias -->
    <p>Materias:
      {% for etiqueta in oportunidad.obtener_etiquetas_materias %}
        <button type="button" class="btn btn-secondary">{{ etiqueta }}</button>
      {% endfor %}
    </p>

    <!-- Mostrar etiquetas de tipo -->
    <p>Tipo:
      {% for etiqueta in oportunidad.obtener_etiquetas_tipo %}
        <button type="button" class="btn btn-secondary">{{ etiqueta }}</button>
      {% endfor %}
    </p>

    <p>Empresa: {{ oportunidad.autor.username }} el {{ oportunidad.fecha_creacion }}</p>
  </div>
{% endfor %}
