{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-4">Acerca de Nosotros</h1>
            <p>Somos una empresa comprometida con la educación de los bachilleres. Nuestra misión es proporcionar
                recursos y apoyo para ayudar a los estudiantes a alcanzar su máximo potencial académico.</p>
            <p>Ofrecemos tutorías personalizadas, materiales de estudio de alta calidad y orientación académica
                para asegurarnos de que cada estudiante tenga éxito en su camino educativo.</p>
        </div>
        <div class="col-lg-6">
            <img src="imagen_empresa.jpg" alt="Imagen de la empresa" class="img-fluid">
        </div>
    </div>
</div>

<div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <h2>Nuestros Objetivos</h2>
                <p>Nuestro principal objetivo es brindar a los bachilleres las herramientas y el apoyo necesarios
                    para alcanzar sus metas educativas. Nos esforzamos por:</p>
                <ul>
                    <li>Proporcionar tutorías efectivas y personalizadas.</li>
                    <li>Ofrecer materiales de estudio de alta calidad.</li>
                    <li>Promover un ambiente de aprendizaje positivo y motivador.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h2>Nuestra Visión</h2>
                <p>Nuestra visión es convertirnos en el referente líder en la educación y el apoyo académico para los
                    bachilleres. Buscamos:</p>
                <ul>
                    <li>Ampliar nuestros servicios a nivel nacional e internacional.</li>
                    <li>Establecer asociaciones con instituciones educativas de renombre.</li>
                    <li>Contribuir al éxito académico de miles de estudiantes en todo el mundo.</li>
                </ul>
                <br>
            </div>
        </div>
    </div>
{% endblock %}