{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bachilleres</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link type="text/css" href="{% static "css/base.css" %}" rel="stylesheet">
  </head>
  
  <body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary pt-4">
            <div class="container-fluid ms-5">
                <a class="navbar-brand" href="#">Bachilleres</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item pe-4">
                            <a class="nav-link active" aria-current="page" href="/about">¿Quienes Somos</a>
                        </li>
                        <li class="nav-item pe-4">
                            <a class="nav-link" href="/novedades">Novedades</a>
                        </li>
                        <li class="nav-item pe-4">
                            <a class="nav-link" href="/recursos">Recursos</a>
                        </li>
                        <li class="nav-item pe-4">
                          <a class="nav-link" href="/faq">FAQ</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="imgbienbenidos row justify-content-center">
            
            <div class="col-md-8 ">
                <div class="position-relative">
                    <img src="{% static 'img/grad2.jpg' %}" class="img-fluid  my-4" alt="..." id="ImgBienvenida">
                    <h1 class="position-absolute top-50 end-0 translate-middle-y"> Bienvenidos a nuestra empresa </h1>
                </div>
            </div>

        </div>

        <div class="Servicios row mt-5 pt-5 justify-content-center text-center">
            <div class="col-8">
                <h3>Nuestros Servicios</h3>
                <p class="">
                    En Nuestra Empresa, te ofrecemos una variedad de servicios diseñados para ayudarte en tu viaje
                    educativo y profesional.
                    <br> Algunos de nuestros servicios incluyen:
                </p>
                <div class="lista">
                    <ul>
                        <li>Asesoramiento académico personalizado</li>
                        <li>Tutoría en materias específicas</li>
                        <li>Acceso a recursos educativos en línea</li>
                        <li>Orientación profesional y consejos de carrera</li>
                        <li>Apoyo financiero</li>
                    </ul>
                </div>

            </div>
            <div class="imgservicios col-8">
                <img src="{% static 'img/junta.jpg' %}" class=" mx-auto d-block" alt="..." id="ImgNuestroservicos">
            </div>

        </div>

        </div>
        <div class="Contactanos row g-0 my-5 justify-content-center">
            <div class="texto_contacto col-md-4 text-center my-auto">
                <h5>Registrate</h5>
            </div>
            <div class="FormRegistro col-md-4">
                <form>
                    <div class="FormLabels my-3">
                        <label for="FormNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="FormNombre" placeholder="Nombre">
                    </div>
                    <div class="FormLabels my-3">
                        <label for="FormApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="FormApellido" placeholder="Apellido">
                    </div>
                    <div class="FormLabels my-3">
                        <label for="FormCiudad" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="FormCiudad" placeholder="Ciudad">
                    </div>
                    <div class="FormLabels my-3">
                        <label for="formemail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="formemail" placeholder="name@example.com">
                    </div>
                    <button type="button" class="btn btn-success my-3">Enviar</button>
            </div>
            </form>
        </div>
    </main>

    <footer class="row g-0 text-center py-1">
        <h1>Bachilleres</h1>
        <div class="FooterIconos col">
            <a href="http:google.com"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>

<!--

<style>
  /* Estilo para las secciones */
  body {
      background: linear-gradient(to bottom, #99f2c8, #1f4037); /* Cambia los colores según tu preferencia */
      color: #fff; /* Color del texto en el cuerpo */
  }
  section {
      background-color: #093637; /* Color gris claro */
      padding: 20px; /* Espaciado interno para separar el contenido del fondo */
      margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
  }
  </style>

-->

<!--

  <body>
    <div class="containerNavBar">
        <nav class="navbar navbar-expand-lg bg-success p-3 bg-gradient navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">BACHILLERES</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="/about">¿Quienes Somos?</a>
                  <a class="nav-link" href="/novedades">Novedades</a>
                  <a class="nav-link" href="/recursos">Recursos</a>
                  <a class="nav-link" href="/faq">FAQ</a>
                  <a class="nav-link" href="#">Contactanos</a>                          
                </div>
              </div>
            </div>
          </nav>
    </div>
    <div>
        {% block content %}
        {% endblock %}

        
        
    </div> 
    <script src="../static/js/faqs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
  </body>
  <footer >
    <div class="container-fluid">

      <div class="row p-5 pb-2 bg-dark text-white">

        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h3">BACHILLERES</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5">Contacto</p>
          <div>
            <div><a  class="text-secondary text-decoration-none" href="https://www.instagram.com/el_flow_quelos_educa/">instagram</a></div>
            <div><a  class="text-secondary text-decoration-none" href="https://www.instagram.com/el_flow_quelos_educa/">LinkedIn</a></div>
          </div>    
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5">Links</p>
          <div><a class="text-secondary text-decoration-none" href="">Terms & conditions</a></div>
          <div><a class="text-secondary text-decoration-none" href="">Privacy Policy</a></div>      
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5"></p>
          <a href=""></a>
        </div>
        <div class="col-xs-12 pt-4 ">
          <p class="text-white text-center">Copyrigth-All rigths reserved© 2023 - USA</p>
        </div>
      </div>
    </div>
  </footer>

-->
