{% extends 'base.html' %} {% block content %} {%load static%}


<link type="text/css" href="../static/css/becas.css" rel="stylesheet" />

<body>
  <div class=" row g-0 justify-content-center">
    <div class="SeccionTexto col-8 mt-5 px-3">
      <h2 class=" my-3">Secciones de interes</h2>
      <p class=" my-2">
        Aca podras ver toda la informacion que tenemos disponible para ti dependiendo tu area de interes
      </p>
    </div>
  </div>
  <div class="row g-0 justify-content-center">
    <div class="AreaAcordeon col-2 my-3 px-3">
      <dic class="AcordeonContainer">
        <div class="AcordeonLabel">
          <h2>Areas</h2>
        </div>
        <div class="AcordeonContent">
          <ul>
            <hr>
            <li><a class="dropdown-item" href="#Medicna">Medicina</a></li>
            <hr>
            <li><a class="dropdown-item" href="#Enfermeria">Enfermeria</a></li>
            <hr>
            <li><a class="dropdown-item" href="#IngenieriaSistemas">Ingenieria de Sistemas</a></li>
            <hr>
            <li><a class="dropdown-item" href="#Arquitectura">Arquitectura</a></li>
            <hr>
            <li><a class="dropdown-item" href="#Derecho">Derecho</a></li>
            <hr>
            <li><a class="dropdown-item" href="#Gastronomia">Gastronomia</a></li>
          </ul>
        </div>
      </dic>
    </div>

  </div>

  <div class="filtros row g-0 justify-content-center">


<!--
    <div class="table">
      <h2>Becas general</h2>
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Fundacion</th>
            <th scope="col">Universidad</th>
            <th scope="col">Facultad</th>
            <th scope="col">nombre beca</th>
            <th scope="col">Requisitos</th>
            <th scope="col">Documentos</th>
            <th scope="col">Descripcion</th>
            <th scope="col">imagen</th>
          </tr>
        </thead>
        <tbody>
          {% for becas in becas_fun %}     
          <tr class=" base_datos">
            <td>{{ becas.Fundacion }}</td>
            <td>{{ becas.Union_U_F.univeridad}}</td>
            <td>{{ becas.Union_U_F.facultad}}</td>
            <td> {{ becas.Beca}} </td>
            <td>
              {% for x in becas.universidades.all %}
              <ul>
                <li>
                  {{ x.Union_U_F__univeridad__nombre}}
                </li>
              </ul>
              {% endfor %}
            </td>
            <td>
              {% for x in becas.Beca.Documentos.all %}
              <ul>
                <li>
                  {{ x.Descripcion }}
                </li>
              </ul>
              {% endfor %}
            </td>
            <td>{{ becas.Beca.Descripcion}}</td>
            <td><img src="{{ becas.Beca.imagen.url }}"></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>


    <div class="table">
      <h2>Becas general filtrado fundacion</h2>
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Fundacion</th>
            <th scope="col">Universidad</th>
            <th scope="col">Facultad</th>
            <th scope="col">nombre beca</th>
            <th scope="col">Requisitos</th>
            <th scope="col">Documentos</th>
            <th scope="col">Descripcion</th>
            <th scope="col">imagen</th>
          </tr>
        </thead>
        <tbody>
          {% for becas_sin in becas2 %}
          <tr class=" base_datos">
            <td>{{ becas_sin.Fundacion}}</td>
            <td>{{ becas_sin.Union_U_F.univeridad}}</td>
            <td>{{ becas_sin.Union_U_F.facultad}}</td>
            <td> {{ becas_sin.Beca}} </td>
            <td>
              {% for x in becas_sin.Beca.Requisitos.all %}
              <ul>
                <li>
                  {{ x.Descripcion }}
                </li>
              </ul>
              {% endfor %}
            </td>
            <td>
              {% for x in becas_sin.Beca.Documentos.all %}
              <ul>
                <li>
                  {{ x.Descripcion }}
                </li>
              </ul>
              {% endfor %}
            </td>
            <td>{{ becas_sin.Beca.Descripcion}}</td>
            <td><img src="{{ becas_sin.Beca.imagen.url }}"></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
-->


    {% for becas_sin in becas_sin %}

    <div class="MedicinaGeneralPost row g-0 justify-content-center my-5">
      <div class="card col-8 border-0">
        <h2 class="text-center py-2 ">{{ becas_sin.Beca}}</h2>
        <div class="div row align-content-center justify-content-center">
          <div class="col pt-5 text-center">
            <img src="{{ becas_sin.Beca.imagen.url }}" class="img-fluid">
          </div>
          <div class="col px-5 py-3">
            <div class="Acordeon">
              <p>
                {{ becas_sin.Beca.Descripcion}}
                
              </p>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Requisitos</div>
                <div class="AcordeonContent">
                  {% for x in becas_sin.Beca.Requisitos.all %}
                  <ul>
                    <li>
                      {{ x.Descripcion }}
                    </li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel"> Valor y duracion de la beca</div>
                <div class="AcordeonContent">
                  <p>
                    {{ becas_sin.Beca.valor_duracion}}
                  </p>
                </div>
              </div>
              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Cómo aplicar</div>
                <div class="AcordeonContent">
                  <p>
                    NA
                  </p>
                </div>
              </div>

              <div class="AcordeonContainer">
                <hr>
                <div class="AcordeonLabel">Qué documentos necesitas</div>
                <div class="AcordeonContent">
                  {% for x in becas_sin.Beca.Documentos.all %}
                  <ul>
                    <li>
                      {{ x.Descripcion }}
                    </li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
            </div>
                       
          </div>     
        </div>
       <!-- <form id="favoritoForm" method="post" action="{% url 'nombre_de_tu_vista_agregar_favorito' becas_sin.Beca.id %}">
          {% csrf_token %}
          <input type="hidden" name="tipo" value="beca"> 
          
          <button type="button" onclick="agregarFavorito()">Agregar Favorito</button>
      </form>
           -->
           <a href="{% url 'nombre_de_tu_vista_agregar_favorito' becas_sin.Beca.id %}" class="button-link">
            Agregar a favoritos
        </a>
      </div>
    </div>

    {% endfor %}
    



</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/js/section.js"></script>
<script src="../static/js/becas.js"></script>

{% endblock %}