{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags  %}

{% block content %}
    <h3 class="text-center">Formulario de Contacto</h3>
    <p class="fs-5 text-center px-5">Es un placer que puedas contactarnos. Nos pondremos en contacto contigo, en el menor tiempo posible</p>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %}

                {{ form|crispy }}

                <input class="btn btn-primary" type="submit" value="Enviar Mensaje" {% if 'ok' in request.GET %}disabled{% endif %}{% if 'error' in request.GET %}disabled{% endif %}>
            </form>

            {% if 'ok' in request.GET %}
                <div class="alert alert-success mt-5" role="alert">
                    <strong>El mensaje se ha enviado correctamente</strong>
                </div>
            {% endif %}

            {% if 'error' in request.GET %}
                <div class="alert alert-danger mt-5" role="alert">
                    <strong>El mensaje no ha podido ser enviado. Por favor, intente más tarde</strong>
                </div>
            {% endif %}
        </div>
        
        <div class="col-md-6 mb-5">
            <img class="float-start img-fluid" src= alt="">
        </div>
    </div>

    <hr>

    <div class="d-grid gap-2 col-6 mx-auto mb-5">
        <a class="btn btn-info btn-lg">Volver al Inicio</a>
    </div>   
{% endblock %}