{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link href="{% static " css/img.css" %}" rel="stylesheet">
</head>
<div class="container text-center">
    <h1 style="margin-top: 20px;">FOROS POR FACULTAD</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#" class="btn btn-primary btn-lg btn-block">Medicina</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-primary btn-lg btn-block">Ingenieria</a>
        </li>
        <li class="list-group-item">
            <a href="#" class="btn btn-primary btn-lg btn-block">Humanidades</a>
        </li>
    </ul>
</div>
{% endblock %}
