{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilo para las secciones */
    body {
        background: linear-gradient(to bottom, #6D6656, #E4DBC5 ); /* Cambia los colores según tu preferencia */
        color: #fff; /* Color del texto en el cuerpo */
    }
    section {
        background-color: #46443F ; /* Color gris claro */
        padding: 20px; /* Espaciado interno para separar el contenido del fondo */
        margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
    }
</style>
<div class="container mt-5">
    <section>
        <h1 class="display-4"> Novedades y Actualizaciones</h1>
        <p>Bienvenido a nuestra sección de Novedades y Actualizaciones. Aquí encontrarás información sobre las próximas mejoras y novedades que llegarán a nuestra plataforma. Esta sección está diseñada para mantenerte informado y brindarte un vistazo exclusivo a las características que estamos preparando para mejorar tu experiencia. ¡Sigue atento para no perderte ninguna actualización importante!</p>
       
    </section>

    

</div>
<br>
{% endblock %}