{% extends 'base.html' %}

{% block content %}
{% load static %} 

<head>
    <link href="{% static "../static/css/perfil.css" %}" rel="stylesheet">
</head>

<div class="container mt-5">
    <section class="perfil">
        <img src="../static/img/asesor.jpg" class="imagen-circular" alt="Imagen de perfil" width="300" height="200">
        <br><br>
        <h1>{{ user.username }}</h1>
        <h2>Nombre: {{ user.first_name}}</h2>
        <h2>Apellido: {{ user.last_name}}</h2>
        <h2>Correo Electrónico: {{ user.email }}</h2>
        <!--<p>Fecha de Nacimiento: 01 de enero de 1990</p>-->
        <br><br>
        <a href="{% url 'edit_perfil' %}" class="button btn btn-info btn-lg">Editar Perfil</a> 
        <button id="cambiarImagen" class="button btn btn-info btn-lg">Cambiar Imagen</button>
    </section>
    {% if user.is_superuser%}
    <section class="admin">
        <h2>Administrador</h2><br>
        <h3>Correos:</h3><br>
        <ul class="button-list">
            <li>
                <a href='/correo' class="button btn btn-info btn-lg">Enviar Correo A Empresa</a>
                
            </li><br>
            <li>
                <a href='/enviar_correo' class="button btn btn-info btn-lg">Enviar Correo con Asunto de Empresa</a>
            </li><br>
            <li>
                <a href='/enviar_HTML' class="button btn btn-info btn-lg">Enviar HTML prediseñado</a>
            </li><br>
            <li>
                <a href='/correodirecto' class="button btn btn-info btn-lg">Correo directo a Usuario</a>
            </li><br>
            <h3>Universidad/becas/facultad:</h3><br>
            <li>
                <a class="button btn btn-info btn-lg" href="{% url 'agregar_beca' %}">Agregar Beca</a>
            </li><br>
            
            
          
    
        </ul>
        
    </section>
    {% endif  %}
    <section class="actividades">
        <h2>Mis Herramientas</h2>
        <ul>

            <div class="buttonCalendar">
                <a class="button btn btn-info btn-lg" href="calendar/calendar"> Mi calendario </a>
            </div>
            <br>
            <div class="buttonCalendar">
                <a class="button btn btn-info btn-lg" href="calendar/calendar"> Mis becas favoritas </a>
            </div>
        </ul>
    </section>

    <section class="amigos">
        <h2>Mis Universidades Cercanas</h2>
        <ul>
            

            <div class="calendar-container">
                <iframe src="https://www.google.com/maps/d/embed?mid=165oy0DvJdm0Z7hezVPPe61HfXC8&hl=en_US&ehbc=2E312F" width="640" height="480"></iframe>
                
            </div>
        </ul>
    </section>
    </section>
</div>
<br>
<script src="../static/js/perfil.js"></script>


{% endblock %}