{% extends 'base.html' %}

{% block content %}
{% load static %} 

<head>
    <link href="{% static "../static/css/img.css" %}" rel="stylesheet">
    <link href="{% static "../static/css/perfil.css" %}" rel="stylesheet">
    <script src="../static/js/modo-oscuro.js"></script>
</head>

<div class="container mt-5">
    <section class="perfil">
        <img src="../static/img/asesor.jpg" class="imagen-circular" alt="Imagen de perfil" width="300" height="200">
        <br><br>
        <h1>{{ user.username }}</h1>
        <h2>Nombre: {{ user.first_name}}</h2>
        <h2>Apellido: {{ user.last_name}}</h2>
        <h2>Correo Electrónico: {{ user.email }}</h2>
        <button id="toggleModoOscuroNav" class="btn btn-outline-light">Modo Oscuro</button>
        <!--<p>Fecha de Nacimiento: 01 de enero de 1990</p>-->
        <br><br>
        <a href="{% url 'edit_perfil' %}" class="button btn btn-info btn-lg">Editar Perfil</a> 
        <button id="cambiarImagen" class="button btn btn-info btn-lg">Cambiar Imagen</button>
    </section>
    {% if user.is_superuser%}
    <section class="admin">
        <h2>Administrador</h2><br>
        <h3>Correos:</h3><br>
        <ul class="button-list">
            <li>
                <a href='/correo' class="button btn btn-info btn-lg">Enviar Correo A Empresa</a>
                
            </li><br>
            <li>
                <a href='/enviar_correo' class="button btn btn-info btn-lg">Enviar Correo con Asunto de Empresa</a>
            </li><br>
            <li>
                <a href='/enviar_HTML' class="button btn btn-info btn-lg">Enviar HTML prediseñado</a>
            </li><br>
            <li>
                <a href='/correodirecto' class="button btn btn-info btn-lg">Correo directo a Usuario</a>
            </li><br>
            <h3>Universidad/becas/facultad:</h3><br>
            <li>
                <div class="buttonCalendar">
                    <a class="button btn btn-info btn-lg" href="{% url 'agregar_beca' %}">Agregar Beca</a>
                </div
            </li><br>
 
        </ul>
        
    </section>
    {% endif  %}
    <section class="actividades">
        <h2>Mis Herramientas</h2>
        <ul>

            <div class="buttonCalendar">
                <a class="button btn btn-info btn-lg" href="calendar/calendar"> Mi calendario </a>
            </div>
            <br>
            <div class="buttonCalendar">
                <a class="button btn btn-info btn-lg" href="{% url 'becas_fav' %}"> Mis becas favoritas </a>
            </div>            
            <br>
            <div class="buttonCalendar">
                <a class="button btn btn-info btn-lg" href="calendar/calendar"> MI CALENDARIO </a>
            </div>
        </ul>
    </section>

    <section class="amigos">
        <h2>Mis Universidades Cercanas</h2>
        <ul>
            

            <div class="calendar-container">
                <iframe src="https://www.google.com/maps/d/embed?mid=165oy0DvJdm0Z7hezVPPe61HfXC8&hl=en_US&ehbc=2E312F" width="640" height="480"></iframe>
                
            </div>
        </ul>
    </section>
    </section>
</div>
<br>
<script src="../static/js/perfil.js"></script>
{% load static %}
    <link rel="stylesheet" href="../static/css/hub.css ">
    <script src="../static/js/hub.js"></script>
    {% if user.is_authenticated  %}
<input type="checkbox" id="btn-modal">
    <div class="container-modal" >
        <div class="content-modal">
            <h2> Bienvenido a tu espacio personalizado.</h2>
            <p>Aquí puedes personalizar y visualizar información importante de tu perfil. 
                Desde detalles básicos hasta tus preferencias y logros, todo está a tu alcance.
                 ¡Haz que tu perfil refleje quién eres y saca el máximo provecho de tu experiencia en nuestra comunidad!
                 <br>
                 Aqui encontraras:
                 <br>
                 -Tus becas guardadas:
                 <br>
                 -Un calendarios interactivo donde veras tus actividades
                 <br>
                 -hasta te recomendaremos Universidades Cercanas

            </p>
            <div class="btn-cerrar">
                <label for="btn-modal">cerrar</label>
            </div>
            
            <div class="btn-siguiente">

            <button class="button-redireccionar" onclick="window.location.href='/novedades'">Siguiente</button>
            </div>
            
        </div>
        
    </div>
    {% endif %}


{% endblock %}