{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilo para las secciones */
    body {
        background: linear-gradient(to bottom, #6D6656, #E4DBC5 ); /* Cambia los colores según tu preferencia */
        color: #fff; /* Color del texto en el cuerpo */
    }
    section {
        background-color: #46443F ; /* Color gris claro */
        padding: 20px; /* Espaciado interno para separar el contenido del fondo */
        margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
    }
</style>

<div class="container mt-5">
    <section>
        <h1 class="display-4">Recursos</h1>
        <p>Nuestra plataforma ofrece servicios personalizados de orientación académica y profesional para estudiantes recién graduados, brindándoles acceso a asesoría especializada, recursos educativos y herramientas de planificación de carrera, todo en un solo lugar.</p>
        <a href="{% url 'descargar' %}"class="btn btn-info ">Descargar Listado</a>
    </section>

    <section>
        <h2>Los 3 Profesionales más solicitados</h2>
        <p>De acuerdo con una investigación llevada a cabo por Fedesarrollo, en Colombia se observa una alta demanda de profesionales en campos relacionados con las carreras STEM (ciencia, tecnología, ingeniería y matemáticas), las tecnologías de la información y las comunicaciones, así como las ciencias de la salud.</p>
        <p>Asimismo, algunos de los trabajos con más demanda en nuestro país según se discutió en el Foro Económico Mundial de 2022 son:</p>
        <ul>
            <li>Programadores</li>
            <li>Desarrolladores Web</li>
            <li>Especialistas en datos e inteligencia artificial</li>
            <!-- Agrega el resto de los trabajos aquí -->
        </ul>
    </section>

    <section>
        <h2>Oportunidades de los 3 Mas solicitados</h2>
        <p>Las oportunidades que pueden ofrecer estas carreras incluyen:</p>
        <ul>
            <li>Programadores: Alta demanda en la industria de la tecnología y oportunidades de trabajo en una variedad de sectores.</li>
            <li>Desarrolladores Web: Continúa la demanda para diseñar y mantener sitios web y aplicaciones web.</li>
            <li>Especialistas en Datos e Inteligencia Artificial: Creciente demanda en análisis de datos, aprendizaje automático y desarrollo de IA en diversas industrias.</li>
            

        </ul>
    </section>
</div>
<br>
{% endblock %}