{% extends 'base.html' %}

{% block content %}
{% load static %} 

    <link rel="stylesheet" href="../static/css/hub.css ">
    <script src="../static/js/hub.js"></script>
    <head>
        <link href="{% static "css/img.css" %}" rel="stylesheet">
    </head>

    <div class="container mt-5">
        <section>
            <h1 class="display-4">Recursos</h1>
            <p>Nuestra plataforma ofrece servicios personalizados de orientación académica y profesional para estudiantes recién graduados, brindándoles acceso a asesoría especializada, recursos educativos y herramientas de planificación de carrera, todo en un solo lugar.</p>

            <p>Mediante este listado, te ofrecemos una visión detallada de las actividades que realizamos en BCH, destacando los diversos servicios y recursos que ponemos a tu disposición. Además de brindarte información esencial sobre distintas carreras y campos, también incluimos datos curiosos que agregan un toque interesante. Explora este compendio para obtener una comprensión más profunda de lo que ofrecemos en BCH y disfruta de los detalles intrigantes relacionados con diferentes áreas académicas. ¡Esperamos que encuentres útil y entretenido este recurso informativo!
                <a href="{% url 'descargar' %}" class="btn btn-info" style="background-color: black; color: white;">Descargar Listado</a>
            </p>
            
            <br>
        </section>

        {% if user.is_authenticated  %}
        <section>
            <br>
            <p>
                Además de los recursos ya presentes en nuestra página, te invitamos a enriquecer nuestra comunidad con tus valiosos aportes. Tu participación no solo beneficiará a otros usuarios, sino que también te permitirá acceder a una amplia variedad de recursos y archivos compartidos por la comunidad. Estamos construyendo juntos un espacio colaborativo donde la ayuda mutua es la piedra angular. Al compartir tus conocimientos, experiencias y archivos, contribuyes al crecimiento y la diversidad de nuestra comunidad. Este intercambio constante de información crea un ambiente en el cual todos nos beneficiamos mutuamente. Únete a nosotros y sé parte de una comunidad comprometida con el aprendizaje colaborativo, donde cada contribución suma al desarrollo colectivo. ¡Juntos, formamos una red de apoyo que potencia el conocimiento y la experiencia de cada miembro!
            </p>
    
            <div class="card">
                <div class="card-header">
                    <h5>Cargar Archivo</h5>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Subir Archivo</button>
                    </form>
                    <!-- Cambia el enlace a un botón -->
                    <button class="btn btn-link" onclick="window.location.href='/lista_archivos'">Ver Lista de Archivos de Usuarios</button>
                    <p class="text-muted">Explora la lista de archivos compartidos por otros miembros de la comunidad.</p>
                </div>
            </div>
        </section> 

        <!-- Agrega una sección de reglas para los recursos -->
        <section>
            <h2>Reglas para Subir Recursos</h2>
            <ul>
                <li>Los recursos deben estar relacionados con orientación académica o profesional.</li>
                <li>Se prohíbe la carga de contenido ofensivo o ilegal.</li>
                <li>Por favor, etiqueta adecuadamente tus archivos para una fácil identificación.</li>
                <li>Asegúrate de tener los derechos adecuados para compartir el recurso.</li>
            </ul>
        </section>
        {% endif  %}

        {% if user.is_authenticated  %}
            {% if not request.COOKIES.modal_shown %}
                <!--modal-->
                <input type="checkbox" id="btn-modal">
                <div class="container-modal" >
                    <div class="content-modal">
                        <h2> Esta es la seccion de recursos .</h2>
                        <p> Esta sección está diseñada para proporcionarte las herramientas y el conocimiento que necesitas para avanzar hacia una carrera exitosa y gratificante. ¡Esperamos que encuentres estos recursos valiosos y útiles para tu trayectoria profesional!
                        </p>

                        <div class="btn-cerrar">
                            <label for="btn-modal">cerrar</label>
                        </div>
                        <button class="button-redireccionar"  onclick="window.location.href='/Secciones'">Siguiente</button>
                    </div>
                </div>
                <script>
                    // Set a cookie to mark that the modal has been shown
                    document.cookie = "modal_shown=true; path=/";
                </script>
            {% endif  %}
        {% endif %}
        <br>
    </div>
{% endblock %}
