{% extends 'base.html' %}

{% block content %}
<style>
    /* styles.css */

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
    }
    
    .navbar {
        width: 250px;
        background-color: #333; /* Cambia el color de fondo según tu preferencia */
        color: #fff; /* Cambia el color del texto según tu preferencia */
        position: fixed;
        height: 100%;
    }
    
    .navbar-list {
        list-style: none;
        padding: 0;
    }
    
    .navbar-item {
        padding: 10px;
    }
    
    .navbar-item a {
        text-decoration: none;
        color: #fff;
        display: block;
    }
    
    .content {
        margin-left: 250px; /* Ancho del navbar lateral */
        padding: 20px;
    }
    
    /* Añade estilos adicionales según tus preferencias */
    
</style>

    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="#">Botón 1</a></li>
            <li class="navbar-item"><a href="#">Botón 2</a></li>
            <li class="navbar-item"><a href="#">Botón 3</a></li>
        </ul>
    </nav>
        <h1>Bienvenido al contenido central</h1>
<br>
{% endblock %}