{% extends 'base.html' %}
{%load static%}

{% block content %}
{% load static %} 
<head>
    <link href="{% static "css/default.css" %}" rel="stylesheet">
</head>
<div class="container mt-5">
    <section>
        <h1 class="display-4"> Secciones </h1>
        <section class="section-description">
            <h2 class="section-title">Vida Educativa y Laboral</h2>
            <p>
                La sección de "Vida Educativa y Laboral" es un espacio dedicado a explorar la intersección entre la formación académica y el mundo laboral. En nuestra institución, comprendemos que la educación es un puente esencial hacia el éxito profesional y personal. Esta sección se erige como un faro de orientación para estudiantes y profesionales que desean navegar el complejo y emocionante viaje de la educación superior y su impacto en la carrera laboral.
            </p>
            <p>
                Aquí, encontrarás reflexiones profundas sobre cómo las elecciones educativas pueden influir en tus oportunidades laborales y cómo las experiencias laborales pueden enriquecer tu desarrollo académico. Exploraremos las tendencias actuales en la educación superior, desde programas de doble titulación hasta modalidades de aprendizaje en línea, y discutiremos cómo estas opciones pueden impulsar tu crecimiento y competencias.
            </p>
            <p>
                Además, examinaremos estrategias para la planificación de la carrera, consejos para el desarrollo profesional y testimonios de individuos que han forjado caminos exitosos mediante la sinergia entre su formación académica y sus logros laborales. Esta sección está diseñada para empoderarte con conocimiento y perspicacia, ayudándote a tomar decisiones informadas para tu futuro educativo y profesional.
            </p>
            <p>
                Te invitamos a explorar, aprender y compartir tus propias historias y perspectivas. La educación y la carrera son viajes personales y únicos, y aquí encontrarás la inspiración y el apoyo que necesitas para alcanzar tus metas y aspiraciones.
            </p>
        </section>
        
        <h2 class="display-5"> Apartado Laboral </h2>
                <h2 class="section-title">Transición a la Vida Laboral</h2>
                    <p>
                        La sección "Transición a la Vida Laboral" es el puente entre tu educación y tu carrera profesional. Comprender cómo aplicar tus conocimientos y habilidades adquiridos durante tu formación académica es esencial para una transición exitosa al mundo laboral.
                    </p>
                    <p>
                        Aquí, te proporcionamos recursos valiosos y consejos prácticos sobre cómo dar tus primeros pasos en el ámbito laboral. Desde la elaboración de un currículum efectivo hasta la preparación de entrevistas de trabajo, te ayudamos a perfeccionar las habilidades necesarias para destacar en el mercado laboral actual.
                    </p>
                    <p>
                        Además, exploramos las oportunidades de prácticas profesionales y pasantías que te permiten aplicar tus conocimientos en un entorno real y establecer conexiones profesionales valiosas. También analizamos tendencias laborales, consejos para el crecimiento profesional y la importancia de la adaptabilidad en una carrera en constante evolución.
                    </p>
                    <p>
                        Nuestra misión es apoyarte en la transición educativa a laboral, brindándote las herramientas y la orientación necesarias para avanzar hacia una carrera satisfactoria y significativa. La sección "Transición a la Vida Laboral" es tu recurso confiable para navegar este emocionante nuevo capítulo en tu vida.
                    </p>
        
       
    </section>

    

</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rightNavbar = document.querySelector('.right-navbar');

        // Agregar evento hover
        rightNavbar.addEventListener('mouseenter', function() {
            // Cambiar la anchura del menú en hover
            this.style.width = '250px'; // O el ancho deseado en hover
        });

        // Agregar evento de salida del hover
        rightNavbar.addEventListener('mouseleave', function() {
            // Cambiar la anchura del menú cuando se sale del hover
            this.style.width = '50px'; // Anchura mínima cuando no está en hover
        });
    });
</script>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrera de Enfermería: Cuidando Vidas y Promoviendo la Salud</title>
    <link href="{% static "css/default.css" %}" rel="stylesheet">
    <style>
        /* Estilos para el menú lateral */
        .right-navbar {
            width: 250px;
            background-color: #333;
            color: #fff;
            position: fixed;
            top: 80px;
            left: 0;
            height: 100%;
            overflow-y: auto; /* Agregamos desplazamiento vertical */
            transition: width 0.3s; /* Transición suave para el ancho */
        }

        .navbar-list {
            list-style: none;
            padding: 0;
        }

        .navbar-item {
            padding: 10px;
            transition: background-color 0.3s; /* Transición suave para el fondo */
        }

        .navbar-item a {
            text-decoration: none;
            color: #fff;
            display: block;
            padding: 10px 20px; /* Espaciado en el enlace */
        }

        /* Estilo para el enlace activo */
        .navbar-item.active {
            background-color: #555;
        }

        /* Estilos para el hover */
        .navbar-item:hover {
            background-color: #555;
        }

        /* Estilos para el título del menú */
        .navbar-title {
            font-size: 18px;
            padding: 15px 20px;
        }

        /* Añadir sombra al menú */
        .right-navbar {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        /* Estilos para el contenido principal */
        .content {
            margin-left: 250px; /* Ancho del navbar lateral derecho */
            padding: 20px;
            /* Añade estilos adicionales para el área de contenido según tus preferencias */
        }
    </style>
</head>
<body>

    <nav class="right-navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="#Medicina">Medicina</a></li>
            <li class="navbar-item"><a href="#Enfermeria">Enfermeria</a></li>
            <li class="navbar-item"><a href="#Ingenieria de Sistemas">Ingenieria de Sistemas</a></li>
            <li class="navbar-item"><a href="#mate">Arquitectura</a></li>
            <li class="navbar-item"><a href="#ciencias">Derecho</a></li>
            <li class="navbar-item"><a href="#otro">Gastronomia</a></li>
        </ul>
    </nav>

    <main class="content">
        <!-- Contenido de tus secciones Medicina, Enfermeria, Ingenieria, etc. -->
  
    <section id="Medicina">
        <h1>Medicina</h1>
        </p>
        <div class="AcercaImg row justify-content-center g-0 pb-5">
            <img src="{% static 'img/medicina.webp' %}" class="col-md-4 p-3">
            <title>Carrera de Medicina: Tu Camino hacia la Salud</title>
        </head>
        <body>
            <header>
                <h1>Carrera de Medicina: Tu Camino hacia la Salud</h1>
            </header>
            <main>
                <section>
                    <h2>La Carrera de Medicina: Un Recorrido</h2>
                    <p>La carrera de medicina es un viaje apasionante que se enfoca en la atención de la salud, el diagnóstico y el tratamiento de enfermedades y trastornos. Aquí hay algunos pasos clave que debes seguir:</p>
                    <ol>
                        <li><strong>Educación Previa:</strong>
                            <ul>
                                <li><strong>Pregrado:</strong> Comienza con un programa de pregrado en ciencias o un campo relacionado. Asegúrate de mantener un alto promedio académico.</li>
                            </ul>
                        </li>
                        <li><strong>Escuela de Medicina:</strong>
                            <ul>
                                <li><strong>Ingreso:</strong> Aprueba el examen MCAT y aplica a escuelas de medicina acreditadas.</li>
                                <li><strong>Programa:</strong> Completa un riguroso programa de cuatro años de estudio médico, que incluye cursos teóricos y prácticos.</li>
                            </ul>
                        </li>
                        <li><strong>Residencia:</strong>
                            <ul>
                                <li><strong>Selección:</strong> Elije una especialidad médica y completa un programa de residencia de varios años en esa área.</li>
                            </ul>
                        </li>
                        <li><strong>Certificación y Licencia:</strong>
                            <ul>
                                <li><strong>Examen:</strong> Aprueba los exámenes de certificación en tu especialidad y obtén una licencia médica.</li>
                            </ul>
                        </li>
                    </ol>
                </section>
                <section>
                    <h2>Enfoques en la Carrera de Medicina</h2>
                    <p>La medicina ofrece una amplia gama de especialidades y enfoques. Algunos ejemplos incluyen:</p>
                    <ul>
                        <li><strong>Medicina General:</strong> Ofrece una atención de salud general a pacientes de todas las edades.</li>
                        <li><strong>Cirugía:</strong> Se especializa en procedimientos quirúrgicos.</li>
                        <li><strong>Pediatría:</strong> Se enfoca en la atención de niños y adolescentes.</li>
                        <li><strong>Cardiología:</strong> Se especializa en el sistema cardiovascular.</li>
                        <li><strong>Neurología:</strong> Se centra en trastornos neurológicos.</li>
                        <li><strong>Ginecología y Obstetricia:</strong> Se dedica a la salud de las mujeres y el parto.</li>
                        <li><strong>Psiquiatría:</strong> Trata trastornos mentales y emocionales.</li>
                    </ul>
                </section>
                <section>
                    <h2>Entrando al Mundo Laboral</h2>
                    <p>Una vez que te has graduado y completado tu residencia, estás listo para ingresar al mundo laboral de la medicina. Aquí hay algunas opciones:</p>
                    <ul>
                        <li><strong>Hospital:</strong> Trabaja en un hospital como médico de planta, especialista o cirujano.</li>
                        <li><strong>Práctica Privada:</strong> Abre tu propia consulta médica privada o únete a una ya existente.</li>
                        <li><strong>Investigación:</strong> Contribuye al avance de la medicina a través de la investigación médica.</li>
                        <li><strong>Docencia:</strong> Enseña en una escuela de medicina o universidad.</li>
                        <li><strong>Salud Pública:</strong> Colabora en proyectos de salud a nivel comunitario o gubernamental.</li>
                    </ul>
                </section>
            </main>
            <footer>
                <p>¡Tu Futuro en Medicina te Espera!</p>
            </footer>
        </body>
        
    </section>
    <title>Carrera de Enfermería: Cuidando Vidas y Promoviendo la Salud</title>
</head>
<body>
            

    <section id="Enfermeria">
        <h1>Enfermeria</h1>
            </p>
            <div class="AcercaImg row justify-content-center g-0 pb-5">
                <img src="{% static 'img/enfermeria.webp' %}" class="col-md-4 p-3">
        <h1>Carrera de Enfermería: Cuidando Vidas y Promoviendo la Salud</h1>
    </header>
    <main>
        <section>
            <h2>La Carrera de Enfermería: Un Compromiso con la Salud</h2>
            <p>La carrera de Enfermería es una noble profesión que implica cuidar y atender a pacientes para promover su bienestar y salud. Aquí hay algunos pasos clave que debes seguir:</p>
            <ol>
                <li><strong>Educación Previa:</strong>
                    <ul>
                        <li><strong>Pregrado:</strong> Comienza con un programa de pregrado en Enfermería o campos relacionados. Aprende las bases de la atención médica.</li>
                    </ul>
                </li>
                <li><strong>Programa de Enfermería:</strong>
                    <ul>
                        <li><strong>Ingreso:</strong> Aplica a programas de Enfermería acreditados.</li>
                        <li><strong>Programa:</strong> Completa un programa de estudios que incluye cursos teóricos y prácticos en cuidado de pacientes y salud.</li>
                    </ul>
                </li>
                <li><strong>Especialización:</strong>
                    <ul>
                        <li><strong>Selecciona tu Área:</strong> Elige una especialización, como enfermería pediátrica, cuidados intensivos o salud mental.</li>
                    </ul>
                </li>
                <li><strong>Pasantías y Prácticas:</strong>
                    <ul>
                        <li><strong>Experiencia Clínica:</strong> Adquiere experiencia en entornos clínicos trabajando con pacientes y profesionales de la salud.</li>
                    </ul>
                </li>
                <li><strong>Graduación:</strong>
                    <ul>
                        <li><strong>Título:</strong> Gradúate con un título de Enfermería y obtén las licencias necesarias.</li>
                    </ul>
                </li>
            </ol>
        </section>
        <section>
            <h2>Enfoques en la Carrera de Enfermería</h2>
            <p>La Enfermería ofrece diversas áreas de enfoque, incluyendo:</p>
            <ul>
                <li><strong>Enfermería Pediátrica:</strong> Cuida y atiende a niños y adolescentes.</li>
                <li><strong>Cuidados Intensivos:</strong> Trabaja en unidades de cuidados intensivos, atendiendo a pacientes críticos.</li>
                <li><strong>Salud Mental:</strong> Apoya a pacientes con trastornos de salud mental y emocional.</li>
                <li><strong>Enfermería Comunitaria:</strong> Trabaja en comunidades para promover la salud y la prevención de enfermedades.</li>
                <li><strong>Geriatría:</strong> Especialízate en el cuidado de personas mayores.</li>
            </ul>
        </section>
        <section>
            <h2>Ingresando al Mundo Laboral</h2>
            <p>Una vez que te has graduado y obtuviste tu licencia, estás listo para ingresar al apasionante mundo laboral de la Enfermería. Aquí hay algunas opciones:</p>
            <ul>
                <li><strong>Enfermería Hospitalaria:</strong> Trabaja en hospitales, clínicas o centros de salud, atendiendo a pacientes hospitalizados.</li>
                <li><strong>Enfermería de Atención Primaria:</strong> Proporciona atención en entornos de atención primaria, como consultorios médicos.</li>
                <li><strong>Enfermería de Urgencias:</strong> Responde a situaciones de emergencia y cuida a pacientes en salas de urgencias.</li>
                <li><strong>Enfermería de Educación:</strong> Enseña y capacita a futuros enfermeros y pacientes sobre el cuidado de la salud.</li>
                <li><strong>Enfermería de Investigación:</strong> Contribuye a la investigación médica y participa en proyectos de salud.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>¡Tu Futuro en Enfermería te Permite Cuidar Vidas y Hacer una Diferencia!</p>
    </footer>
</body>
    <section id="Ingenieria de Sistemas">
        <h1>Ing. Informatica</h1>
        <img src="{% static 'img/sistemas.png' %}" class="col-md-4 p-3">
        <title>Carrera de Ingeniería en Informática: Tu Pasaporte al Mundo Digital</title>
</head>
<body>
    <header>
        <h1>Carrera de Ingeniería en Informática: Tu Pasaporte al Mundo Digital</h1>
    </header>
    <main>
        <section>
            <h2>La Carrera de Ingeniería en Informática: Un Recorrido</h2>
            <p>La carrera de Ingeniería en Informática es una emocionante aventura en el mundo digital. Aquí hay algunos pasos clave que debes seguir:</p>
            <ol>
                <li><strong>Educación Previa:</strong>
                    <ul>
                        <li><strong>Pregrado:</strong> Comienza con un programa de pregrado en informática o campos relacionados. Aprende los fundamentos de la tecnología.</li>
                    </ul>
                </li>
                <li><strong>Programa de Ingeniería:</strong>
                    <ul>
                        <li><strong>Ingreso:</strong> Aplica a programas de Ingeniería en Informática acreditados.</li>
                        <li><strong>Programa:</strong> Completa un riguroso programa de estudios que abarca programación, bases de datos, redes y más.</li>
                    </ul>
                </li>
                <li><strong>Especialización:</strong>
                    <ul>
                        <li><strong>Selecciona tu Enfoque:</strong> Elige una especialización, como desarrollo web, inteligencia artificial o ciberseguridad.</li>
                    </ul>
                </li>
                <li><strong>Práctica Profesional:</strong>
                    <ul>
                        <li><strong>Pasantías:</strong> Obtén experiencia práctica a través de pasantías en empresas de tecnología.</li>
                    </ul>
                </li>
                <li><strong>Graduación:</strong>
                    <ul>
                        <li><strong>Título:</strong> Gradúate con un título de Ingeniería en Informática.</li>
                    </ul>
                </li>
            </ol>
        </section>
        <section>
            <h2>Enfoques en la Carrera de Ingeniería en Informática</h2>
            <p>La Ingeniería en Informática ofrece una variedad de enfoques emocionantes, incluyendo:</p>
            <ul>
                <li><strong>Desarrollo Web:</strong> Crea sitios web y aplicaciones interactivas.</li>
                <li><strong>Inteligencia Artificial:</strong> Desarrolla sistemas inteligentes y aprendizaje automático.</li>
                <li><strong>Ciberseguridad:</strong> Protege sistemas y datos contra amenazas cibernéticas.</li>
                <li><strong>Redes y Comunicaciones:</strong> Diseña y administra redes de computadoras.</li>
                <li><strong>Base de Datos:</strong> Gestiona y optimiza bases de datos de gran escala.</li>
            </ul>
        </section>
        <section>
            <h2>Ingresando al Mundo Laboral</h2>
            <p>Una vez que te has graduado, estás listo para entrar en el emocionante mundo laboral de la informática. Aquí hay algunas opciones:</p>
            <ul>
                <li><strong>Desarrollo de Software:</strong> Trabaja como desarrollador de software, creando aplicaciones y sistemas.</li>
                <li><strong>Analista de Datos:</strong> Analiza y interpreta datos para tomar decisiones informadas.</li>
                <li><strong>Ingeniero de Seguridad:</strong> Protege sistemas y datos contra amenazas cibernéticas.</li>
                <li><strong>Gerente de Proyectos:</strong> Lidera equipos en la ejecución de proyectos tecnológicos.</li>
                <li><strong>Consultoría Tecnológica:</strong> Ofrece soluciones y asesoramiento tecnológico a empresas.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>¡Tu Futuro en Ingeniería en Informática te Espera!</p>
    </footer>
</body>
        
    </section>

    <section id="otro">
        <h1>Ing. Mecanica</h1>
        <img src="{% static 'img/mecanica.jpg' %}" class="col-md-4 p-3">
        <title>Carrera de Ingeniería Mecánica: Diseñando el Futuro</title>
</head>
<body>
    <header>
        <h1>Carrera de Ingeniería Mecánica: Diseñando el Futuro</h1>
    </header>
    <main>
        <section>
            <h2>La Carrera de Ingeniería Mecánica: Un Recorrido</h2>
            <p>La carrera de Ingeniería Mecánica es una disciplina emocionante que involucra el diseño, análisis y fabricación de sistemas y componentes mecánicos. Aquí hay algunos pasos clave que debes seguir:</p>
            <ol>
                <li><strong>Educación Previa:</strong>
                    <ul>
                        <li><strong>Pregrado:</strong> Comienza con un programa de pregrado en ingeniería o campos relacionados. Aprende conceptos fundamentales de matemáticas y física.</li>
                    </ul>
                </li>
                <li><strong>Programa de Ingeniería Mecánica:</strong>
                    <ul>
                        <li><strong>Ingreso:</strong> Aplica a programas de Ingeniería Mecánica acreditados.</li>
                        <li><strong>Programa:</strong> Completa un riguroso plan de estudios que incluye diseño mecánico, termodinámica y mecánica de fluidos.</li>
                    </ul>
                </li>
                <li><strong>Especialización:</strong>
                    <ul>
                        <li><strong>Elige tu Camino:</strong> Selecciona una especialización, como diseño de maquinaria, energía renovable o automoción.</li>
                    </ul>
                </li>
                <li><strong>Pasantías y Prácticas:</strong>
                    <ul>
                        <li><strong>Experiencia Práctica:</strong> Realiza pasantías en empresas de ingeniería mecánica para aplicar tus conocimientos en situaciones reales.</li>
                    </ul>
                </li>
                <li><strong>Graduación:</strong>
                    <ul>
                        <li><strong>Título:</strong> Gradúate con un título de Ingeniería Mecánica.</li>
                    </ul>
                </li>
            </ol>
        </section>
        <section>
            <h2>Enfoques en la Carrera de Ingeniería Mecánica</h2>
            <p>La Ingeniería Mecánica ofrece diversas especialidades, incluyendo:</p>
            <ul>
                <li><strong>Diseño de Maquinaria:</strong> Diseña y mejora máquinas y sistemas mecánicos.</li>
                <li><strong>Energía y Sostenibilidad:</strong> Trabaja en proyectos de energía renovable y soluciones sostenibles.</li>
                <li><strong>Automoción:</strong> Se especializa en el diseño de vehículos y sistemas de transporte.</li>
                <li><strong>Mecánica de Precisión:</strong> Trabaja en la fabricación de componentes de alta precisión.</li>
                <li><strong>Robótica:</strong> Diseña y programa robots y sistemas automatizados.</li>
            </ul>
        </section>
        <section>
            <h2>Ingresando al Mundo Laboral</h2>
            <p>Una vez que te has graduado, estás listo para ingresar al emocionante mundo laboral de la Ingeniería Mecánica. Aquí hay algunas opciones:</p>
            <ul>
                <li><strong>Ingeniería de Diseño:</strong> Trabaja en el diseño y desarrollo de productos y sistemas mecánicos.</li>
                <li><strong>Ingeniería de Manufactura:</strong> Participa en la fabricación y producción de productos.</li>
                <li><strong>Ingeniería de Energía:</strong> Colabora en proyectos de energía renovable y sostenibilidad.</li>
                <li><strong>Automoción:</strong> Diseña y mejora vehículos y sistemas de transporte.</li>
                <li><strong>Investigación y Desarrollo:</strong> Contribuye al avance de la tecnología mecánica a través de la investigación.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>¡Tu Futuro en Ingeniería Mecánica te Está Esperando!</p>
    </footer>
</body>
    </section>

    
</main>

<br>
{% endblock %}
