
{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<style>
    /* Estilo para las secciones */
    body {
        background: linear-gradient(to bottom, #6D6656, #E4DBC5 ); /* Cambia los colores según tu preferencia */
        color: #fff; /* Color del texto en el cuerpo */
        font-family: Tahoma, sans-serif; /* Tahoma como fuente principal y sans-serif como respaldo */
    }
    section {
        background-color: #46443F ; /* Color gris claro */
        padding: 20px; /* Espaciado interno para separar el contenido del fondo */
        margin-bottom: 20px; /* Espaciado inferior para separar las secciones */
    }
</style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Registro de usuario</h2>
                        <hr>
                        <form action="" method="post">
                            
                            {% csrf_token %}
                            {{ form | crispy }}  
                            <br>
                            <input type="submit" value="Registrar" class="btn btn-success float-right">
                            <br><br>
                            <p>Si ya estas registrado, Ingresa:</p>
                            <a href="{% url 'login' %}" class="btn btn-success float-right">Login</a>  
                            
                            <br>
                            

                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}


