
{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<head>
    <link href="{% static "css/img.css" %}" rel="stylesheet">
</head>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card" style=" background-color: rgba(255, 255, 255, 0.5);
                border: 1px solid #ddd;
                border-radius: 5px;
                padding: 10px;
                ">
                    <div class="card-body">
                        <h2 class="text-center">Registrate</h2>
                        <hr>
                        <form action="" method="post">
                            
                            {% csrf_token %}
                            {{ form | crispy }}  
                            <br>
                            <input type="submit" value="Registrar" class="btn btn-success float-right">
                            <br><br>
                            <p>Si ya estas registrado, Ingresa:</p>
                            <a href="{% url 'login' %}" class="btn btn-success float-right">Login</a>  
                            
                            <br>
                            

                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}


