{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<head>
    <link href="{% static "css/perfil.css" %}" rel="stylesheet">
</head>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
                <div class="card-body">
                  <div class="email-form">
                    <h2>Agregar Beca</h2>
                    <form method="post" action="{% url 'agregar_beca' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="button-container">
                        <button type="submit">Guardar</button>
                        </div>
                      </form>
                </div>  
            </div>
        </div>
    </div>
  </div>
<br><br><br>
{% endblock %}