{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<head>
  <link href="{% static "css/correo.css" %}" rel="stylesheet">
</head>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
                <div class="card-body">
                  <div class="email-form">
                    <h2>Enviado Exitosamente</h2>
                    <p>La nueva beca ha sido enviado exitosamente a todos los usuarios registrados.</p>
                    <a href="{% url 'agregar_beca' %}" class="btn btn-success float-right">Volver al formulario de envío de correo</a>
                </div>  
            </div>
        </div>
    </div>
  </div>
<br><br><br>
{% endblock %}